@charset "UTF-08";

/*FONTES*/
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
/*--------------------------------------------------------------*/

body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
/*--------------------------------------------------------------*/

/*CABEÇALHO*/

header{
    background-color: black;
    padding: 10px;
    
}

header > h1{
    font-family: Passion One, Arial, Helvetica, sans-serif;
    font-size: 9vw;
    font-variant: small-caps;
    color: white;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 0px; 
}

header p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    font-size: 1vw;
    margin-top: 0px;
    padding-bottom: 20px;
}

header a{
    color: white;
    text-decoration: none;
}

header a:hover{
    text-decoration: underline;
}
/*----------------------------------------------------------------*/

/*Primeira parte do poema*/
#first-section{
    background-color: white;
    box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0);
}

#first-section > p{
    margin: 0px;
    font-size: 3.5em;
    padding-left: 30px;
    padding-top: 50px;
    padding-bottom: 100px;
    font-family: Sriracha, Arial, Helvetica, sans-serif;
}

/*Segunda parte do poema*/
#imagem-joaninha{
    background-image: url(imagens/background001.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#imagem-joaninha p{
    background-color: rgba(0, 0, 0, 0.466);
    display: inline-block;
    padding: 10px;
    font-size: 3.5em;
    color: white;
    margin-left: 30px;
    font-family: Sriracha, Arial, Helvetica, sans-serif;
}

/*Terceira parte do poema*/

#second-section{
    margin: 0px;
    font-size: 3.5em;
    padding-left: 30px;
    padding-top: 100px;
    padding-bottom: 30px;
    font-family: Sriracha, Arial, Helvetica, sans-serif;
}

#second-section2{
    margin: 0px;
    font-size: 3.5em;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 100px;
    font-family: Sriracha, Arial, Helvetica, sans-serif;
}

/*Quarta parte do poema*/

#imagem-livros{
    background-image: url(imagens/background002.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#imagem-livros p{
    background-color: rgba(0, 0, 0, 0.466);
    display: inline-block;
    padding: 10px;
    font-size: 3.5em;
    color: white;
    margin-left: 30px;
    font-family: Sriracha, Arial, Helvetica, sans-serif;
}

/*Quinta parte do poema*/

#third-section{
    margin: 0px;
    font-size: 3.5em;
    padding-left: 30px;
    padding-top: 100px;
    padding-bottom: 30px;
    font-family: Sriracha, Arial, Helvetica, sans-serif;
}

#third-section2{
    margin: 0px;
    font-size: 3.5em;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 100px;
    font-family: Sriracha, Arial, Helvetica, sans-serif;
}

/*RODA-PÉ*/

footer{
    background-color: black;
    margin: 0px;
    padding: 10px;
}

footer p{
    font-family: verdana, Helvetica, sans-serif;
    text-align: center;
    margin: 0%;
    color: white;
}

footer p > a{
    text-decoration: none;
    color: white;
}

footer p > a:hover{
    text-decoration: underline;
}
